<html>
    <head></head>

    <body>
         <h1>This is the h1 header</h1>
         <form action="/submit" method="post">
             <input type="number" name="pregs" placeholder="pregs" required="required">
             <input type="number" name="plas" placeholder="plas" required="required">
             <input type="number" name="pres" placeholder="pres" required="required">
             <input type="number" name="skin" placeholder="skin" required="required">
             <input type="number" name="test" placeholder="test" required="required">
             <input type="number" name="mass" placeholder="mass" required="required">
             <input type="number" name="pedi" placeholder="pedi" required="required">
             <input type="number" name="age" placeholder="age" required="required">
             <button type="submit"> Predict </button>
             
            </form>
    </body>
    
</html>